@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'RedHatText', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'RedHatText', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}