@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata-Variable";
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}